<div class="wrap" *ngIf="tasks.length">
  <div class="toggler-view">
    <div class="in all" [ngClass]="{'active': !isShortView}" (click)="setViewMode(false)">Подробно</div>
    <div class="in short" [ngClass]="{'active': isShortView}" (click)="setViewMode(true)">Кратко</div>
  </div>
  <table class="tasks-table" matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="title">Заголовок</th>
      <th mat-sort-header="createdDateUnix" *ngIf="!isShortView">Дата создания</th>
      <th mat-sort-header="status">Статус</th>
      <th mat-sort-header="priority" *ngIf="!isShortView">Приоритет</th>
      <th mat-sort-header="owner">Исполнитель</th>
      <th mat-sort-header="author" *ngIf="!isShortView">Постановщик</th>
    </tr>

    <tr *ngFor="let task of sortedTasks" (click)="openDetails(task.id)">
      <td>{{task.title}}</td>
      <td *ngIf="!isShortView">{{task.createdDateHuman}}</td>
      <td>{{task.status}}</td>
      <td *ngIf="!isShortView">{{priorityTitles[task.priority]}}</td>
      <td>{{userNames[task.owner]}}</td>
      <td *ngIf="!isShortView">{{userNames[task.author]}}</td>
    </tr>
  </table>
</div>

<div class="dummy" *ngIf="!tasks.length">Нет задач</div>

