<div class="wrap">
  <header class="header">
    <div class="header-inner inner">
      <nav class="nav">
        <div *ngIf="authorizedUserId">
          <button type="button" class="btn btn-common" (click)="goTo('new_task')" mat-button>
            Создать задачу
          </button>
          <a class="link" [routerLink]="'/list'" routerLinkActive="active">Список всех задач</a>
        </div>
      </nav>

      <div class="auth">
        <div class="authorized" *ngIf="authorizedUserId">
          <div class="drop-menu" (click)="toggleMenu()" [ngClass]="{'open': isOpen}">
            <div class="title">{{ authorizedUserName }}</div>
            <div class="drop-area">
              <div class="link" (click)="goTo('profile')">Профиль</div>
              <div class="link" (click)="goTo('list')">Мои задачи</div>
              <div class="link" (click)="logout()">Выйти</div>
            </div>
          </div>
        </div>

        <div class="unauthorized" *ngIf="!authorizedUserId">
          <a class="link" [routerLink]="'/login'">Войти</a>
          <a class="link" [routerLink]="'/registration'">Зарегистрироваться</a>
        </div>
      </div>
    </div>
  </header>

  <div class="main">
    <div class="main-inner inner">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="footer" *ngIf="author || createdDate">
    <div class="footer-inner inner">
      © {{ author }} {{ createdDate }}
    </div>
  </footer>
</div>
