<h2 class="h2">Войдите</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="line">
    <mat-form-field>
      <input class="email" id="email" placeholder="email" type="text" formControlName="email" matInput>
    </mat-form-field>
  </div>

  <div class="line">
    <mat-form-field>
      <input class="password" id="password" placeholder="password" type="password" formControlName="password" matInput>
    </mat-form-field>
  </div>

  <div class="line">
    <button class="btn btn-common" type="submit" mat-button [disabled]="form.invalid">
      Войти
    </button>
  </div>

  <p>или</p>

  <div class="line">
    <a class="reg" id="reg" [routerLink]="'/registration'">Зарегистрируйтесь</a>
  </div>
</form>

