<h2 class="h2">Регистрация</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="line">
    <input class="email" id="email" placeholder="email" type="email" formControlName="email">
  </div>

  <div class="line">
    <input class="password" id="password" placeholder="Пароль" type="password" formControlName="password">
  </div>

  <div class="line">
    <input class="name" id="name" placeholder="Имя" type="text" formControlName="name">
  </div>

  <div class="line">
    <input class="checkbox" id="agree" type="checkbox" formControlName="agree">
    <label for="agree">Согласие на обработку персональных данных</label>
  </div>

  <div class="line">
    <button class="btn btn-common" type="submit" mat-button [disabled]="form.invalid">
      Зарегистрироваться
    </button>
  </div>

  <p>или</p>

  <div class="line">
    <a class="to-login" [routerLink]="'/login'">Войдите</a>
  </div>
</form>

